<div class="sign-sign-up-wrapper forgot-password-wrapper">
  <div class="site-container">
  <div class="sign-sign-up-inner">
    <div class="sign-in-box">
      <div class="sign-in-up-box">
        <h3>Forgot Password</h3>
        <div class="form-div">
          <form>
           <div class="field-div">
             <input type="text" value="" placeholder="Email address" name="email" [(ngModel)]="state.forgotPassword.email">
           </div>
           <div class="field-div"><input type="button" (click)="sendForgotPasswordEmail()" value="Submit" name="Login" class="btn btn-login"></div>
           <p style="color: red; font-size: 10px" *ngIf="showError">{{ErrorMessage}}</p>

          </form>
        </div>

      </div>
    </div>


    </div>
  </div>
</div>
<script>

    $( document ).ready(function() {

          $('#loader').addClass('hide')

    })
</script>
