app-venuelist{
    width: 100%;
}
app-userlist{
    width: 100%;
}
app-usercontribution{
    width: 100%;
}
app-schedulevenue{
    width: 100%;
}
app-scheduleartist{
    width: 100%;
}
app-liveeventslist{
    width: 100%;
}
app-followlist{
    width: 100%;
}
app-editvenue{
    width: 100%;
}
app-editprofile{
    width: 100%;
}
app-edituser{
    width: 100%;
}
app-editevent{
    width: 100%;
}
app-editchannel{
    width: 100%;
}
app-editartist{
    width: 100%;
}
app-editadmin{
    width: 100%!important;
    display: block;
}
app-detailvenue{
    width: 100%;
}
app-detailevent{
    width: 100%;
}
app-detailartist{
    width: 100%;
}
app-crowdfundedeventslist{
    width: 100%;
}
app-cotributionlist{
    width: 100%;
}
app-contributiondetail{
    width: 100%;
}
app-availableartist{
    width: 100%;
}
app-availablevenue{
    width: 100%;
}
app-channellist{
    width: 100%;
}
app-artistlist{
    width: 100%;
}
app-addvenue{
    width: 100%;
}
app-addevent{
    width: 100%;
}
app-addchannel{
    width: 100%;
}
app-addartist{
    width: 100%;
}
app-admindashboard{
    width: 100%;
}
#searchButton{
    margin-right: 10px;
}

tr > td {
    vertical-align: middle !important;
    text-align: left;
}
tr > td:nth-child(1) {
    width: 25%!important;
}

tr > th:nth-child(1) {
    width: 25%!important;
}

app-detailuser{
    width: 100%
}

.datepicker table tbody tr td {
    background: #3dffa7;
    color: black;
}
html.sidebar-left-collapsed .sidebar-left {
    width: 73px;
}