<div class="sign-sign-up-wrapper">
  <div class="site-container">
      <div class="sign-sign-up-inner">
          <div class="sign-in-box">
              <div class="sign-in-up-box">
                  <h3>Login</h3>
                  <div class="form-div">
                      <form (submit) = 'localLogin()'>
                          <div class="field-div">
                              <input type="email"  [(ngModel)]="state.login.email" name='email' placeholder="Email address" required>
                          </div>
                          <div class="field-div">
                              <input type="password" [(ngModel)]="state.login.password"  name='password' placeholder="Password" required>

                          </div>
                          <p style="color: red; font-size: 10px" *ngIf="showError">{{loginError}}</p>
                          <div class="field-div" (click)="forgotPassword()" style="cursor: pointer"><a  >Forgot Password</a></div>
                          <div class="field-div">
                              <button type="submit" class="btn btn-login">Login</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="or-seperator">
              <span>OR</span>
          </div>
          <div class="sign-in-box">
              <div class="sign-in-up-box">
                  <h3>Sign Up</h3>
                  <div class="form-div">
                      <form>
                          <div class="field-div">
                              <input type="text" [(ngModel)]="state.signup.firstName" name='firstName' placeholder="First Name" required>
                          </div>
                          <div class="field-div">
                              <input type="text" [(ngModel)]="state.signup.lastName" name='lastName' placeholder="Last Name" required>
                          </div>
                          <div class="field-div" >
                              <input type="email" [(ngModel)]="state.signup.email" name='email' placeholder="Email address" required>
                          </div>
                          <div class="field-div">
                              <input type="password" [(ngModel)]="state.signup.password" name='password' placeholder="Password" required>
                          </div> <div class="field-div">   <div class="form-check">
                          

                          <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                              Receive our weekly newsletter
                          </label>
                      </div></div>
                          <div class="field-div"><button (click)="signup();" class="btn btn-login">SignUp</button></div>

                          <p *ngIf="showSignupError" style="color :red">{{signUperror}}</p>
                      </form>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>

<script>
$(document).ready(function(){
if(!localStorage.getItem('session_token')){
$('#loader').addClass('hide')
};
})
</script>
