<header >
  <div class="header bg scrolled" style="height: 90px; margin-top: -3px;">

      <div class="site-container">
          <div class="header-main">

              <div class="header-logo">
                  <a href="/"> 
                  </a>
              </div>

              <!-- <div class="request-access">
                  <a href="#" id="logout" ng-click="logout()" > Log Out </a>
              </div>

              <div class="clear"></div> -->


          </div>
      </div>

  </div>
</header>

  <router-outlet></router-outlet>
<footer>
  <div class="footer">

      
      <div class="footer-bottom-section">
          <div class="site-container">
              <div class="copyrights-txt">       </div>
          </div>
      </div>
  </div>
</footer>
<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="false"></span>
