<div class="sign-sign-up-wrapper forgot-password-wrapper">
  <div class="site-container">
  <div class="sign-sign-up-inner">
    <div class="sign-in-box">
      <div class="sign-in-up-box">
        <h3>Reset Password</h3>
        <div class="form-div">
          <form>
           <div class="field-div">
             <input type="password" value="" placeholder="New Password" name="password" [(ngModel)]="state.forgotPassword.password">
           </div>
           <div class="field-div">
              <input type="password" value="" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="state.forgotPassword.confirmPassword">
            </div>
           <div class="field-div"><button (click)="resetPassword()"  class="btn btn-login">Reset</button></div>

          </form>
        </div>

      </div>
    </div>


    </div>
  </div>
</div>

<script>

    $( document ).ready(function() {

          $('#loader').addClass('hide')

    })
</script>
